@font-face {
  font-family: "Chilanka";
  font-style: normal;
  src: url("./fonts/Chilanka-Regular.ttf");
}

@font-face {
  font-family: "Long Cang";
  font-style: normal;
  src: url("./fonts/LongCang-Regular.ttf");
}
.App {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.ReactModalPortal {
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    &--after-open {
      opacity: 1;
    }
    &--before-close {
      opacity: 0;
    }
  }

  .Modal_Overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.75);
  }
  .Modal_Content {
    margin: auto;
    max-width: 30rem;
    position: relative;
    top: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    height: 40rem;
    overflow: scroll;
    border-radius: 1rem;
    outline: none;
    padding: 0;
  }
}
